@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-light {
  --custom-background: #fff;
  --custom-button: #002e7d;
  --custom-main-text: #2b2b2b;
  --custom-button-text: #fafafa;
  --custom-input-text: #2b2b2b;
  --custom-disabled-input: #e8e8e8;
  --custom-disabled-text: #fafafa;
  --custom-popsicle: #92400e;
  --custom-popsicle-text: #fafafa;
  --custom-link: #ff7b00;
}

.theme-dark {
  --custom-background: #000;
  --custom-button: #cceaff;
  --custom-main-text: #fafafa;
  --custom-button-text: #2b2b2b;
  --custom-input-text: #2b2b2b;
  --custom-disabled-input: #595959;
  --custom-disabled-text: #2b2b2b;
  --custom-popsicle: #92400e;
  --custom-popsicle-text: #fafafa;
  --custom-link: #ff7b00;
}

.theme-rainbow {
  --custom-background: #ffffa1;
  --custom-button: #a1dbff;
  --custom-main-text: #228a00;
  --custom-button-text: #228a00;
  --custom-input-text: #228a00;
  --custom-disabled-input: #e8e8e8;
  --custom-disabled-text: #fafafa;
  --custom-popsicle: #ffc466;
  --custom-popsicle-text: #ff4242;
  --custom-link: #ff7b00;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
